* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.header {
    background-color: rgba(222, 212, 111, .7);
    width: 100%;
}

.navBar .navBar__links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navBar .navBar__links li {
    padding: .8rem;
}

.navBar .navBar__links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navBar .navBar__links li:hover {
    background-color: rgba(222, 212, 111, .9);
}

.landing-page {
    width: 100%;
    height: 96vh;
    background: url('https://picsum.photos/seed/picsum/1200/1000') center;
    background-size: cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
}

.landing-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    color: #FFF;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-content: center;
}


/* Start Game Area */

.player1 {
    border-style: solid;
    width: 20%;
    height: 350px;
}

.player2 {
    border-style: solid;
    width: 20%;
    height: 350px;
}

.players {
    display: flex;
    flex-direction: row;
}

.game_area {
    width: 55%;
    position: relative;
    background-color: #EEE;
}

.game_area .game_sticks {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.game_area .game_sticks img {
    width: auto;
    height: 100px;
}

.choice {
    text-align: center;
    margin: 10px;
}

.choice button {
    width: 100px;
    height: 30px;
}

.start_over {
    text-align: center;
    margin: 10px;
}

.start_over button {
    width: 100px;
    height: 30px;
}

.active {
    background-color: seagreen;
}

.player1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.player2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* End Game Area */


/* Start Grid System */

@media (min-width: 576px) {
    /* Small Devices => Landscape Phones */
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    /* Medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    /* Desktops */
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    /* Large Screens */
    .container {
        max-width: 1140px;
    }
}


/* End Grid System */