body{
    background-color: grey;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}